.navbar {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.navbar a {
  text-decoration: none;
  color: darkgrey;
}

.navbar .header-section {
  text-align: center;
  text-decoration: none;
}

.navbar .header-section .headline {
  padding-top: 15px;
}

.search-panel {
  position: relative;
}
