.movie-cover {
  width: 180px;
  height: 315px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
}

.movie-cover .title{
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-cover .details {
  padding: 10px;
}

.movie-cover .dv-star-rating {
  margin-top: 5px;
  height: 17px;
}

.movie-cover .image-container:hover .overlay{
  display: block;

}

.movie-cover .image-container {
  position: relative;
}


.movie-cover .overlay{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 34px;
  background-color: rgba(0, 0, 0, 0.5);

}

