.movie-cover {
  width: 180px;
  height: 315px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  background: #1d1d1d;
}

.movie-cover .title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: ivory;
}

.movie-cover .details {
  padding: 10px;
}

.movie-cover .dv-star-rating {
  margin-top: 5px;
  height: 17px;
}

.movie-cover .image-container:hover .overlay {
  display: block;
}

.movie-cover .image-container:hover a {
  text-decoration: none;
}

.movie-cover .image-container {
  position: relative;
}

.movie-cover .overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.movie-cover .glyphicon-play {
  font-size: 34px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -33px;
  margin-top: -33px;
  background-color: rgba(0, 0, 0, 0.5);
}
